body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(to bottom right, #1af1129f, #017a74, #e908d6b6);
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}
