<!DOCTYPE html>
<html>
<head>
    <title>Consulta de Eventos</title>
    <link rel="stylesheet" type="text/css" href="../static/consultaEV.css">
</head>
<body>
    <h1>AGENDA DE EVENTOS</h1>
    <ul>
        <li>
            <span class="event-title">Título: Reunión de equipo</span><br>
            <span class="event-details">Fecha: 27 de junio de 2023</span><br>
            <span class="event-details">Hora: 10:00 AM</span><br>
            <span class="event-details">Ubicación: Sala de conferencias A</span><br>
            <span class="event-details">Descripción: Reunión semanal para revisar el progreso del proyecto y asignar tareas.</span>
        </li>
        <li>
            <span class="event-title">Título: Conferencia sobre inteligencia artificial</span><br>
            <span class="event-details">Fecha: 30 de junio de 2023</span><br>
            <span class="event-details">Hora: 2:00 PM</span><br>
            <span class="event-details">Ubicación: Auditorio principal</span><br>
            <span class="event-details">Descripción: Conferencia sobre los avances recientes en inteligencia artificial y su impacto en diferentes industrias.</span>
        </li>
        <li>
            <span class="event-title">Título: Taller de desarrollo web</span><br>
            <span class="event-details">Fecha: 5 de julio de 2023</span><br>
            <span class="event-details">Hora: 9:30 AM</span><br>
            <span class="event-details">Ubicación: Aula 203</span><br>
            <span class="event-details">Descripción: Taller práctico sobre desarrollo web, abordando tecnologías como HTML, CSS y JavaScript.</span>
        </li>
    </ul>
</body>
</html>

