<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Creación de Eventos</title>
    <link rel="stylesheet" type="text/css" href="../static/eventos.css">
</head>
<body>
    <div class="container">
        <h1>Creación de Eventos</h1>
        <form>
            <label for="title">Título del Evento:</label>
            <input type="text" id="title" name="title" placeholder="Ingrese el título del evento">

            <label for="date">Fecha:</label>
            <input type="date" id="date" name="date">

            <label for="time">Hora:</label>
            <input type="time" id="time" name="time">

            <label for="location">Ubicación:</label>
            <input type="text" id="location" name="location" placeholder="Ingrese la ubicación del evento">

            <label for="description">Descripción:</label>
            <textarea id="description" name="description" placeholder="Ingrese una descripción o notas relacionadas con el evento"></textarea>

            <button type="submit">Crear Evento</button>
        </form>
    </div>
</body>
</html>
