<!DOCTYPE html>
<html>
<head>
    <title>Seguimiento de Progreso</title>
    <link rel="stylesheet" type="text/css" href="../static/progreso.css">
</head>
<body>
    <h1>SEGUIMIENTO DE PROGRESO</h1>
    
    <h2>Tareas Pendientes</h2>
    <ul id="task-list">
        <li class="task">
            <input type="checkbox" id="task1">
            <label for="task1">Tarea 1</label>
        </li>
        <li class="task">
            <input type="checkbox" id="task2">
            <label for="task2">Tarea 2</label>
        </li>
        <li class="task">
            <input type="checkbox" id="task3">
            <label for="task3">Tarea 3</label>
        </li>
    </ul>

    <h2>Actividades Completadas</h2>
    <ul id="completed-list">
        <li class="completed-task">
            <input type="checkbox" id="completed1" checked disabled>
            <label for="completed1">Tarea completada 1</label>
        </li>
        <li class="completed-task">
            <input type="checkbox" id="completed2" checked disabled>
            <label for="completed2">Tarea completada 2</label>
        </li>
    </ul>
</body>
</html>
